* { /*RESETEO DE NAVEGADORES*/
  margin: 0; /* Saca los márgenes que pone el navegador*/
  padding: 0; /* Saca los rellenos por defecto */
  box-sizing: border-box; /* Hace que los bordes no agranden tus cajas*/
}

:root{
  --color-primario: #00F0FF;
  --color-primario_deg: #00eeff9e;
  --color-secundario: #BCFF00;
  --color-terciario: #ff0000;
  --color-fondo: #0D0D12;
  --color-neutral: rgba(84, 84, 84, 0.312);
  --color-parrafo:rgb(77, 74, 74); 
  --fuente-titulo: "space grotesk", sans-serif;
  --fuente-cuerpo: "inter", sans-serif;
}

html{
  /* Al definir esto, le decimos al navegador: "A partir de ahora, 1rem = 10px" */
    font-size: 62.5%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--fuente-cuerpo);
  font-size: 1.6rem;
  background-color: var(--color-fondo);
  color: white;
}

main{
  flex: 1;
}

/* ESTILOS BASE */

h1, h2, h3, h4 {
    font-family: var(--fuente-titulo);
    text-transform: uppercase;
}

.btn{
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.2rem 2.5rem;
  }

.btn--primario {
    color: rgb(0, 93, 99);
    background-image: linear-gradient(to bottom right, var(--color-primario), var(--color-primario_deg));
    border: 1px var(--color-primario) solid;
    border-radius: 0.40rem;
}

.btn--secundario{
  background-image: none;
  background-color: rgba(25, 25, 31, 0.89);
  color: white;
  border: 1px var(--color-neutral) solid;
}

.titulo-linea{
  border-bottom: 2px solid var(--color-primario);
  padding-bottom: 0.8rem;
}

/* BARRA DE NAVEGACION*/

.barra-superior {
    background-color: rgba(84, 84, 84, 0.12);
    backdrop-filter: blur(20px); /* Sirve para agregar distintos efectos(en inspeccionar hay mas)*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    position: sticky; /* deja mover el obejto hasta que el scroll llega a él, ahi se fija */
    top: 0;
}
.boton-de-menu{
  cursor: pointer;
  background: none;
  border: none;
  margin-right: 1rem ;
}

.barra-superior__titulo a{
  text-decoration: none;
  color: var(--color-primario);
  letter-spacing: -0.05em;
}

.barra-superior__titulo{
  font-size: 2.4rem;
}

.barra-superior__nav{
  margin-left: auto;
}

.barra-superior__lista{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.barra-superior__enlace, .barra-superior__enlace:visited{
  font-size: 1.6rem;
  font-family: var(--fuente-titulo);
  text-transform: uppercase;    
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}

.boton-de-carrito{
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem;
}

/* LANZAMINETO */

.lanzamiento{
  min-height:  100vh;
  padding: 0rem 8.0rem;
  background-image:linear-gradient(
    rgba(43, 42, 42, 0.514),
    rgba(0, 0, 0, 0.85)), url(../img/Fondo.png);
  background-size: cover;
  background-position: center;
}

.lanzamiento__contenedor{
  max-width: 60rem;
  padding-top:  10rem;
  flex-direction: column;
}

.lanzamiento__anuncio{
  display: inline-block;
  margin-bottom: 2rem; /*Margen con el texto principal*/
  font-size: 1rem;
  letter-spacing: -0.5px;/*ESPACIADO ENTRE LETRAS */
  color: rgb(182 247 0);
  font-weight: 700; /*Grosor de Letras */
  text-transform: uppercase; /*MAYUSCULA*/
  background-color: rgba(182, 247, 0, 0.12);
  border: 1px rgb(181, 247, 0, 0.233) solid;
  border-radius:1rem;
  padding: 0.50rem 1rem; /*Espaciado entre el contenedor y el borde*/
}

.lanzamiento__titulo{
  font-size: 7rem;
  margin-bottom: 2rem;
  line-height: 7rem;
  /* para que funcione deben estar los tres (-wekbit-, no es necesario solo es para navegadores antiguos)*/
  background-image: linear-gradient(to bottom right,rgb(255, 255, 255), var(--color-primario_deg)); /* define el gradiente. Pero en lugar de aplicarlo como fondo del div, sera del texto */ 
  -webkit-background-clip: text;
  background-clip: text; /* recorte ese fondo con la forma exacta de las letras */
  color: transparent; 
}

.lanzamiento__descripcion{
  font-family: var(--fuente-cuerpo);
  font-size: 1.7rem;
  color:rgba(172, 170, 177, 0.7);
  line-height: 2rem;
  padding-bottom: 2rem;
}

.lanzamiento__botones{
  display: flex;
  gap: 2rem;
}


.lanzamiento__boton{
  text-decoration: none;
}

/* CATALOGO */

.lista-productos__titulo{
  font-size: 3rem;
  font-weight: 600; 
  text-align: center;
  padding-bottom: 3rem;
}

.lista-productos {
    padding: 4rem 6rem;
}

.lista-productos__contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));    
    gap: 2rem;
}

.tarjeta-producto {
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 18, 24);
    border-radius: 0.8rem;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.tarjeta-producto__imagen {
    width: 100%;
    padding: 1rem;
    object-fit: cover;
}

.tarjeta-producto__info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.tarjeta-producto__catalogo {
    font-size: 1.1rem;
    font-family: var(--fuente-titulo);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(177, 175, 175, 0.7);
}

.tarjeta-producto__titulo {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

.tarjeta-producto__fila-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.tarjeta-producto__precio {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primario);
    font-family: var(--fuente-titulo);
}

.tarjeta-producto__button {
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    border-radius: 0.8rem;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-producto__button img {
    width: 2rem;
    height: 2rem;
}

/* FOOTER */

.footer {
    background-color: var(--color-neutral);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.footer__descripcion {
    font-family: var(--fuente-cuerpo);
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}

.footer__iconos {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.footer__icono {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    transition: opacity 0.2s;
}

.footer__icono:hover {
    opacity: 0.7;
}

/* PAGINA CONTACTO */

  /* FONDO */

.fondo-glow {
    position: fixed;    /* fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;  /* que no interfiera con los clicks */
    z-index: -1;           /* detrás de todo el contenido */
}

.fondo-glow__orb {
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);   /* difuminado fuerte */
    opacity: 0.25;         /* transparencia */
}

.fondo-glow__orb--cyan {
    width: 50rem;
    height: 50rem;
    background-color: var(--color-primario);
    top: -10rem;
    left: -10rem;
}

.fondo-glow__orb--magenta {
    width: 40rem;
    height: 40rem;
    background-color: #9000ff;
    bottom: 10rem;
    right: -5rem;
}
.titulo-reserva{
  text-align: center;  
  font-size: 3rem ;  
  margin-top: 2rem;
}

/* FORMULARIO  */

.contacto-grid{
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin: 2rem 0;
}
.formulario-contacto, .soporte{
    width: 500px;/* Define el ancho de la tarjeta */
    padding: 20px;
    background-color: var(--color-neutral);
}

.formulario-contacto__grupo{
    margin-bottom: 15px; /*Le agrega un margen (espacio hacia afuera) en la parte de abajo a cada grupo.*/
}

.formulario-contacto__label{
    display: block; /*Controla cómo se muestra el elemento, en este caso obligándolo a comportarse como un bloque.*/
    color:white;
    font-family: var(--fuente-titulo);
    text-transform: uppercase;
}

.formulario-contacto__input {
    margin-top: 1rem;
    width: 100%; /*Le ordena a la cajita que se estire hasta ocupar el 100% del ancho que le permite su contenedor padre (los 300px de la tarjeta).*/
    padding: 8px; /*Agrega espacio adentro de la cajita blanca*/
}

/* SOPORTE */

.soporte__titulo{
  margin-bottom: 1rem;
}

.informacion{
  border-left: 2px solid var(--color-primario); /* ← la línea */
  padding-left: 1rem; /* ← espacio entre la línea y el texto */
}

.informacion__termino{
  margin: 1rem 0;
  font-family: var(--fuente-titulo);
  text-transform: uppercase;
  
}

.informacion__valor{
  font-size: 1.5rem;
  color: #b563f4c4
}

@media (max-width: 768px) {
  
  /* HOME */
  
  .lanzamiento{
    min-height: auto;
    padding: 4rem 3rem;
  }

  .lanzamiento__contenedor{
    padding: 1rem;
  }

  .lista-productos__contenedor{
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));      
  }

    /* CONTACTO */

  .titulo-reserva{
    font-size: 4rem;
    padding: 7rem 0;
  }

  .contacto-grid{
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  .formulario-contacto, .soporte{
    width: 80%;
  }

  .formulario-contacto__input{
    margin: 2rem 0;
  }
}

@media (max-width: 480px) {
  .barra-superior__titulo{
    font-size: 1.6rem;
  }

  .barra-superior__enlace, .barra-superior__enlace:visited{
  font-size: 1.4rem;
  }

  .lanzamiento__titulo {
        font-size: 4rem;
        line-height: 4.2rem;
    }

  .lista-productos__titulo{
    font-size: 1.7rem;
    text-align:left;
    padding-bottom: 3rem;
  }

  .lista-productos__contenedor {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));    
      gap: 2rem;
  }

  .tarjeta-producto__catalogo {
    font-size: 1rem;
    font-family: var(--fuente-titulo);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(177, 175, 175, 0.7);
}

.tarjeta-producto__titulo {
    font-size: 1.4rem;
}

.tarjeta-producto__precio {
  font-size: 1.2rem;
}

  .tarjeta-producto__button {
    padding: 0.7rem;
}

  .titulo-reserva{
    font-size: 3rem;
    padding: 2rem 0;
  }

  .contacto-grid{
    gap: 2rem;
    margin: 2rem 0;
  }
}

/* CONTROL+K+C */